.contacts {
     width: 100%;
     text-align: center;
}

.contacts h1 {
     font-weight: 300;
     font-size: 1.5em;
}


@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1000px) {
     .contacts h1 {
          font-size: 1.2em;
     }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 400px) {

}