.questions {
     width: 100%;
     height: 30%;

     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 20px;

     flex-wrap: wrap;
}

.questions h1 {
     font-weight: 200;
}

.questions .btns {
     display: flex;
     gap: 20px;
}

.questions button {
     color: #fff;
     font-size: 1.5em;
     padding: 10px 20px;
}

@media screen and (max-width: 1000px) {
     .questions h1 {
          font-size: 1.5em;
     }
     .questions {
          gap: 10px;
     }
     .questions .btns {
          display: flex;
          gap: 10px;
     }
     .questions button {
          font-size: 1.2em;
          padding: 5px 10px;
     }
}

@media screen and (max-width: 750px) {
     .questions {
          height: 20%;
          flex-direction: column;
     }
}