.home {
     width: 100%;
     display: flex;
     justify-content: center;
     gap: 100px;
}

.home .selection {
     width: 200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
}

.home .selection h1 {
     font-size: 1.5em;
     font-weight: 300;
}

.home .selection button {
     width: 50px;
     height: 50px;
     border-radius: 100%;
     border: none;
     font-size: 2em;

     display: flex;
     justify-content: center;
     align-items: center;

     box-shadow: var(--inner-box-s);

     * {
          color: #fff;
     }
}

.home .selection button:hover{
     box-shadow: none;
}

@media screen and (max-width: 1000px) {
     .home .selection {
          gap: 10px;
     }
     .home {
          gap: 50px;
     }

     .home .selection h1 {
          font-size: 1.2em;
          font-weight: 300;
     }
}

@media screen and (max-width: 800px) {
     .home {
          gap: 20px;
     }
}

@media screen and (max-width: 750px) {
     .home {
          flex-direction: column;
          align-items: center;
     }
}

@media screen and (max-width: 250px) {
     .home .selection {
          width: 100%;
     }
}