.head {
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.head .title {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.head .title .logo  h1 {
     font-weight: 200;
     font-size: 3em;
     font-family: "Akshar", sans-serif;
}

.head .title .contact p {
     font-size: 1.5em;
     font-weight: 100;
     font-family: "Akshar", sans-serif;
}

.head .about {
     width: 500px;
}

.head .about p {
     font-weight: 300;
}
@media screen and (max-width: 1500px) {
     .head {
          padding: 0 20px;
     }
}

@media screen and (min-width: 800px) {
   }

@media screen and (max-width: 800px) {
     .head .title {
          flex-direction: column;
          align-items: start;
     }
   }

@media screen and (max-width: 500px) {
     .head .about {
          width: 100%;
     }
}