.servs {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.servs .img {
     width: 100%;
     display: flex;
     justify-content: center;
}

.servs .img img {
     width: 90%;
}

.slider .slider-bg {
     width: 100%;
}

.servs .slider-bg .slider-box {
     display: flex;
     overflow: hidden;
     gap: 100px;
     width: 100%;
     display: flex;

     position: relative;
     animation: scroll;
}

@keyframes scroll {
     0% {
          left: -100px;
     }
     100% {
         right: 100px;
     }
}

.servs .services {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;
}

.servs .services .service {
     width: 300px;
     display: flex;
     flex-direction: column;
     gap: 5px;
}

.servs .services .service .main-title {
     font-weight: bold;
}

.servs .services .service p {
     font-size: .8em;
}
@keyframes show {
     from {
          opacity: 0;
     }
   
     to {
       opacity: 100%;
     }
   }

   .services .a {
     animation: 2s show;
   }

   .services .b {
     animation: 4s show;
   }

   .services .c {
     animation: 6s show;
   }

   .services .d {
     animation: 8s show;
   }


@media screen and (max-width: 1000px) {
     .servs .img img {
          width: 95%;
     }

     .services .a {
          animation: none;
        }
     
        .services .b {
          animation: none;
        }
     
        .services .c {
          animation: none;
        }
     
        .services .d {
          animation: none;
        }
}

