.my-services {
     display: flex;
     gap: 20px;
     align-items: start;


     padding-bottom: 5px;
}

.my-services .service {
     width: 100%;
     min-width: 300px;
}
.my-services .service h1 {
     font-weight: 200;
     padding-bottom: 20px;
}

.my-services .service p {
     font-weight: 500;
}

.my-services .service p span {
     font-weight: 300;
}

@media screen and (max-width: 1500px) {
     .my-services {
          padding: 0 20px;
     }
}

@media screen and (max-width: 1350px) {
     .my-services {
          overflow-x: scroll;
          padding-bottom: 20px;
     }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
     .my-services {
          scrollbar-width: none;
     }
}

@media screen and (max-width: 400px) {
}