.navbar {
     width: 100%;
     height: 80px;
     padding: 20px;

     display: flex;
     justify-content: space-between;
     align-items: center;

}

.navbar .title {
     font-size: 2em;
}



.navbar .links-desktop {
     display: flex;
     gap: 20px;
}

.navbar .links-desktop a,
.navbar .up a,
.navbar .down a {
     list-style: none;
     text-decoration: none;

     border: 1px solid transparent;
     padding: 20px;
     border-radius: 20px;
}

.navbar .links-desktop a:hover {
     border: 1px solid var(--black);
}

.navbar .up, .navbar .down {
     display: none;
}

.navbar .up, .navbar .down {
     background-color: #cbb4ff;
     height: 100vh;
     width: 100%;
     border-radius: 0 20px 20px 0;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     gap: 20px;
}

.navbar .up {
     left: -100%;
     top: 0;
}

.navbar .down {
     left: 0;
     top: 0;
}

@media screen and (min-width: 1000px) {
     .navbar .up, .navbar .down, .navbar .btn {
          display: none;
     }
}

@media screen and (max-width: 1000px) {
     .navbar .links-desktop {
          display: none;
     }

     .navbar .btn {
          display: flex;
          font-size: 2em;
          position: relative;
          z-index: 1;
     }
     .navbar .up, .navbar .down {
          display: flex;
          position: absolute;
     }
}