.websites {
     padding-top: 180px;
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.websites .title h1 {
     font-weight: 400;
}

.websites .data {
     display: flex;
     gap: 20px;
}

.websites .data .box {
     width: 400px;
     min-width: 400px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.websites .data .box .title {
     font-size: 1.5em;
}

.websites .data .box .custom {
     font-family: "Bad Script", cursive;
     font-weight: bold;
}

.websites .data .box .description {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.websites .services {
     width: 100%;
/*      background-color: #D5CEFF; */
overflow-x: hidden;
}

.services .data {
     background-color: #D5CEFF;
     width: 100%;
     display: flex;
     flex-direction: column;
}

.websites .services img {
     width: 100%;
     position: relative;
     bottom: -5px;
     z-index: -1;
}

.services .data .title{
     width: 100%;
     text-align: center;
     font-size: 1.5em;
     padding: 20px 0;
}

.services .data .description {
     width: 100%;
     text-align: center;
     padding: 20px 50px;
}

.services .data .description .data {
     padding: 20px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
}

@media screen and (max-width: 1400px) {
     .websites .services {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 100%;
     }

     .websites > .title {
          padding: 0 20px ;
     }
     
     .websites .data {
          padding: 0 20px;
     }
     .websites .services img {
          width: 1400px;
     }
}

@media screen and (max-width: 850px) {
     .websites .data {
          overflow-x: scroll;
          padding-bottom: 10px;
     }
}

@media screen and (max-width: 500px) {
     .websites .data .box {
          width: 300px;
          min-width: 300px;
     }

     .websites {
          padding-top: 80px;
     }
     .services .data .description {
          padding: 20px;
     }
}