@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #2e2e2e;
  --ghost: #E3E3E3;
  --lila: #ACA5FF;
  --light: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  transition: .2s linear;
  scroll-behavior: smooth;
  cursor: pointer;
}

html {
     background-color:var(--light);
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: start;
}

.main {
     width: 1400px;
     height: 100vh;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.logo {
     width: 100%;
     text-align: center;
}

.logo h1 {
     left: 0;
     right: 0;
     top: -10px;
     font-weight: bold;
     font-size: 6em;
     position: absolute;
     justify-content: center;
}

.logo h1 span {
     color: var(--lila);
}

.services {
     width: 100%;
}

.services h1 {
     width: 100%;
     text-align: center;
     color: var(--ghost);
     font-size: 6em;
     position: relative;
     z-index: -1;
     bottom: -60px;
}

.services .titles {
     padding: 10px 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--light);
}

.services .titles .title {
     height: 80px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
}

.services .titles .title p {
     width: 150px;
     text-align: center;
     font-size: 1.1em;
}

.services .titles .title .line {
     margin: 10px 0;
     width: 1px;
     height: 30px;
     background: #000;
}

.services .description {
     width: 100%;
     display: flex;
     justify-content: center;
}

.services .description p {
     padding: 20px;
     width: 600px;
     border-radius: 30px;
     border: 1px solid var(--black);
}

.skills {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: end;
     justify-content: center;
}

.footer {
     position: absolute;
     bottom: 0;
     width: 1400px;
     height: 50px;
     background-color: var(--light);
     border-radius: 20px 20px 0 0;
     border: 1px solid var(--black);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 20px;
}

.footer p {
     color: var(--black);
}

.footer .socials {
     width: 80px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.footer .socials * {
/*      color: var(--light); SYY MIKS SOCIALS EI NÄY*/
     font-size: 1.5em;
}

@media screen and (max-width: 1500px) {
     .main {
          width: 100%;
     }

     .logo h1 {
          font-size: 13vw;
          position: absolute;
          top: -8vw;
          justify-content: center;
     }

     .footer {
          width: 95%;
     }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
     .logo h1 {
          font-size: 13vw;
          position: absolute;
          top: 0;
          justify-content: center;
     }

     .footer {
          width: 100%;
          border-radius: 0;
     }
}

@media screen and (max-width: 400px) {

}