@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

:root {
  --black: #212121;
  --lila: #8C52FF;
  --light: #FAF9F6;

  --retro-pink: #efaaa9;
  --retro-green: #8db4ad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  transition: .2s linear;
}

html {
     background-color:#F5F5F5;
}

.main-page {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* DESKTOP */
.section {
      width: 1400px;
      height: 800px;
      background-color: #fff;
      border: 1.5px solid var(--light);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
     }

.header-section {
     width: 100%;
     height: 10%;
}

.body-section {
     width: 100%;
     height: 90%;

     display: flex;
}

.me-side {
     height: 100%;
     width: 50%;

     display: flex;
     flex-direction: column;
}

.head-box {
     width: 100%;
     height: 100%;
     background-color: #fff;
     border: 1.5px solid #fff;
     border-radius: 10px;
}

.head-box .header {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
}

.head-box .header h1 {
     color: var(--black);
}

.head-box .header .socials {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.social-link {
     margin-left: 10px;
     width: 40px;
     height: 40px;
     border-radius: 10px;
     background: #ffffff;
     border: 1px solid #888888;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2em;
}

.head-box .header .git > * {
     color: var(--black);
}

.head-box .header .DC > * {
     color: #5246ff
}

.me-side .skills-box {
     width: 100%;
     height: 80%;

     background-color: #F5F5F5;
     border: 1.5px solid #fff;
     border-radius: 10px;
     padding: 20px;
}
.me-side .skills-box .skills {
     font-size: 1em;
     display: flex;
     flex-wrap: wrap;
}

.me-side .skills-box .skills p {
     padding: 5px;
     background-color: #fff;
     margin: 5px 10px 5px 0;
     border-radius: 5px;
}

.me-side .blog-box {
     width: 100%;
     height: 20%;

     background-color: #fff;
     border: 1.5px solid #fff;
     border-radius: 10px;

     background-image: url(./imgs/ds.jpg);
     background-size: cover;
     background-position: center;
}

.me-side .blog-box .header {
     width: 100%;
     height: 100%;

     display: flex;
     justify-content: center;
     align-items: center;

     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 10px;
}

.services-side {
     height: 100%;
     width: 50%;
}

.services-side .services-box {
     overflow: hidden;
     height: 100%;
     width: 100%;

     display: flex;
     flex-direction: column;

     background-color: #fff;
     border: 1.5px solid #fff;
     border-radius: 10px;

     background-image: url(./imgs/pexels-thiago-japyassu-12760302.jpg);
     background-size: cover;
     background-position: bottom;
}

.services-side .services-box .load {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
}

.services-side .services-box .load h1 {
     color: var(--light);
     text-align: center;
}

.loadingAnimationData {
     width: 400px;
}

.skills-box .js > * {
     color: rgb(255, 215, 38);
}

.skills-box .cs > * {
     color: var(--lila);
}

.skills-box .blender > * {
     color: #ff9900;
}


/* MEDIA */
@media screen and (max-width: 1400px) {
     .section {
          width: 100%;
          height: 100%;
    }

    .loadingAnimationData {
          width: 50%;
    }
}

@media screen and (max-width: 850px) {
     h1 {
          font-size: 1.5em;
     }
     .body-section {
          flex-direction: column;
    }

    .me-side {
     height: 50%;
          width: 100%;
    }

    .load {
          padding: 20px;
    }

    .services-side {
          width: 100%;
          height: 50%;
    }
}

@media screen and (max-width: 400px) {
     p {
          font-size: .8em;
     }
     .me-side {
               height: 60%;
         }
     
         .services-side {
               height: 40%;
         }
}