@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #212121;
  --lila: #8C52FF;
  --light: #FAF9F6;

  --retro-pink: #efaaa9;
  --retro-green: #8db4ad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black);
  transition: .2s linear;
}

html {
     background-color:#F5F5F5;
}

.bgVideo {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     object-fit: cover;
}

.main-page {
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* DESKTOP */
.section {
     width: 1400px;
     height: 800px;
     background-color: transparent;
     border: 1.5px solid var(--light);
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     }

.head-box {
     width: 100%;
     background-color: #fff;
     border: 1.5px solid #fff;
     border-radius: 0 0 10px 10px;
     padding: 10px 0;
}

.head-box .header {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
}

.head-box .header h1 {
     color: var(--black);
     font-size: 2.5em;
}

.head-box .header .socials {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.social-link {
     margin-left: 10px;
     width: 50px;
     height: 50px;
     border-radius: 10px;
     background: #ffffff;
     border: 1px solid #888888;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 2em;
}

.head-box .header .git > * {
     color: var(--black);
}

.head-box .header .DC > * {
     color: #5246ff
}

.section .data {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     margin: 20px;
}

/* SKILLS */
.skills-box {
     background-color: rgba(225, 225, 225, 0.8);
     border-radius: 10px;
     padding: 20px;
     border: 1px solid #fff;
}

.skills-box .skills {
     display: flex;
     flex-wrap: wrap;
}

.skills-box .skills p {
     margin: 0 10px 10px 0;
     background-color: #fff;
     padding: 3px 5px;
     border-radius: 5px;
}

.blog-box {
     border-radius: 10px;
     padding: 10px;
     width: 500px;
     height: 200px;
     background-image: url(./imgs/pink.jpg);
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid #fff;
}

.services-box {
     border-radius: 10px;
     padding: 10px;
     width: 500px;
     height: 50%;
     background-color: #212121;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border: 1px solid #fff;
}

.services-box h1 {
     color: #fff;
}

/* MEDIA */
@media screen and (max-width: 1400px) {
     .section {
          width: 100%;
          height: 100%;
    }
}

@media screen and (max-width: 850px) {
     .section .data {
          margin: 10px;
          gap: 10px;
     }
     p {
          font-size: 1em;
     }
     h1 {
          font-size: 1.5em;
     }
     .skills-box {
          width: 100%;
     }
     .blog-box, .services-box {
          width: 100%;
          height: 100px;
     }

} 

@media screen and (max-height: 800px) {
     .section {
          width: 1400px;
          height: 100%;
     }
}
